//fonts
$int-bol: "Inter-Bold";
$int-reg: "Inter-Regular";

//Colors
$black: #000;
$gray: #666;
$light-dark: #CACACA;
$dark: #474747;
$white: #fff;
$light: #FAFAFF;
$lactic: #FFFBF3;
$orange: #DB6300;